<div class="basket-log__top">
    <div class="basket-log__title">Оформление заказа</div><a class="basket-log__top-btn basket-log__top-btn--left" href="#">← Назад</a><a class="basket-log__close" href="#"></a>
</div>
{{ shipping_method }}
<div class="basket-log__content">
    <form class="basket-log__form" id="checkout-form">
        {{ shipping_adresses }}

        <div class="basket-log__form-box">
            <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Телефон<span>*</span></span>
                <select class="basket-log__form-value">
                    <option>8 923 312 22 11</option>
                    <option>7 232 234 23 12</option>
                </select>
            </label>
            <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">E-mail<span>*</span></span>
                <select class="basket-log__form-value">
                    <option>emailone@mail.il</option>
                    <option>emailtwo@mail.il</option>
                </select>
            </label>
        </div>
        <div class="basket-log__form-box">
            <label class="basket-log__form-label"><span class="basket-log__form-name">Комментарий</span>
                <textarea name="comment" class="basket-log__form-mess"></textarea>
            </label>
        </div>
        <div class="basket-log__form-box">
            <label class="basket-log__form-label basket-log__form-label--bonus"><span class="basket-log__form-name basket-log__form-name--bonus">Количество бонусов<span>Доступно 0</span></span>
                <input class="basket-log__form-value basket-log__form-value--bonus" type="text" name="box">
            </label>
        </div>
        {{ payment_method }}
        <div class="basket-log__form-box">
            <div class="basket-log__form-summa">
                <div class="basket-log__form-name">Цена с купоном</div>
                <div class="basket-log__form-num">436 грн</div>
            </div>
        </div>
        <div class="basket-log__form-text">Вы получите 178.58 гривен на бонусный счет за этот заказ, <br>если сейчас присоединитесь к семье <a href="#">Pizza Famiglia</a></div>
    </form>
</div>
<div class="basket-log__bottom basket-log__bottom--center"><a data-type="checkout" class="btn basket-log__btn btn-orange" href="#">Далее</a></div>