
{% if payment_methods %}
    <div class="basket-log__form-box">
        <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Метод оплаты</span>
            <select name="payment_method" class="basket-log__form-value"> {% for payment_method in payment_methods %}
     {% if payment_method.code == code or not code %}
                    {% set code = payment_method.code %}
                        <option  value="{{ payment_method.code }}" selected="selected">{{ payment_method.title }}</option>
                {% else %}
                    <option  value="{{ payment_method.code }}">{{ payment_method.title }}</option>
                {% endif %}
    {% endfor %}</select>
    </div>

    <div class="basket-log__form-box cheque_price  {% if payment_method.code != 'cheque' %}hidden{% endif %}">
        <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Купюра номиналом: </span>
            <select name="nominal" class="basket-log__form-value">
            <option value="0">Выберите номинал</option>
            <option value="50">50 грн</option>
            <option value="100">100 грн</option>
            <option value="250">250 грн</option>
            <option value="300">300 грн</option>
            <option value="350">350 грн</option>
            <option value="400">400 грн</option>
            <option value="450">450 грн</option>
            <option value="500">500 грн</option>
        </select>
    </div>

{% endif %}