
{% if payment_methods %}
    <div class="basket-log__form-box">
        <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Метод оплаты</span>
            <select name="payment_method" class="basket-log__form-value"> {% for payment_method in payment_methods %}
     {% if payment_method.code == code or not code %}
                    {% set code = payment_method.code %}
                        <option  value="{{ payment_method.code }}" selected="selected">{{ payment_method.title }}</option>
                {% else %}
                    <option  value="{{ payment_method.code }}">{{ payment_method.title }}</option>
                {% endif %}
    {% endfor %}</select>
    </div>
{% endif %}