{% if categories %}

        {% for category in categories %}
            <li class="header-box__item"><a class="header-box__link" href="{{ category.href }}">{{ category.name }}</a></li>
        {% endfor %}

{% endif %} 