{{ header }}
<section class="profile page">
    <div class="container">
        <div class="profile__content">
            <h2>Здравствуйте, Алексей!</h2>
            <div class="profile__title">У вас на счету <a class="for-popup" href="#bonus-popup">238 бонусов.</a></div>
            <div class="profile-history">
                <div class="profile__title">Ваша история заказов:</div>
                <div class="profile-history__content">
                    <div class="profile-history__item">
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Адрес:</div>
                            <div class="profile-history__line-value">Бульвар победы, 41</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Телефон:</div>
                            <div class="profile-history__line-value">920 219 76 72</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Заказ:</div>
                            <div class="profile-history__line-value"> <span>Итальянская, 40 см</span><span>Четыре сыра, 30 см</span><span>Салат, 120 гр</span></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">ВСЕГО:</div>
                            <div class="profile-history__line-value"> <b>585 грн</b></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name"></div>
                            <div class="profile-history__line-value"> <a class="btn profile-history__btn" href="card.html">Повторить заказ</a></div>
                        </div>
                    </div>
                    <div class="profile-history__item">
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Адрес:</div>
                            <div class="profile-history__line-value">Бульвар победы, 41</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Телефон:</div>
                            <div class="profile-history__line-value">920 219 76 72</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Заказ:</div>
                            <div class="profile-history__line-value"> <span>Итальянская, 40 см</span><span>Четыре сыра, 30 см</span><span>Салат, 120 гр</span></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">ВСЕГО:</div>
                            <div class="profile-history__line-value"> <b>585 грн</b></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name"></div>
                            <div class="profile-history__line-value"> <a class="btn profile-history__btn" href="card.html">Повторить заказ</a></div>
                        </div>
                    </div>
                    <div class="profile-history__item">
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Адрес:</div>
                            <div class="profile-history__line-value">Бульвар победы, 41</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Телефон:</div>
                            <div class="profile-history__line-value">920 219 76 72</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Заказ:</div>
                            <div class="profile-history__line-value"> <span>Итальянская, 40 см</span><span>Четыре сыра, 30 см</span><span>Салат, 120 гр</span></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">ВСЕГО:</div>
                            <div class="profile-history__line-value"> <b>585 грн</b></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name"></div>
                            <div class="profile-history__line-value"> <a class="btn profile-history__btn" href="card.html">Повторить заказ</a></div>
                        </div>
                    </div>
                    <div class="profile-history__item">
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Адрес:</div>
                            <div class="profile-history__line-value">Бульвар победы, 41</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Телефон:</div>
                            <div class="profile-history__line-value">920 219 76 72</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Заказ:</div>
                            <div class="profile-history__line-value"> <span>Итальянская, 40 см</span><span>Четыре сыра, 30 см</span><span>Салат, 120 гр</span></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">ВСЕГО:</div>
                            <div class="profile-history__line-value"> <b>585 грн</b></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name"></div>
                            <div class="profile-history__line-value"> <a class="btn profile-history__btn" href="card.html">Повторить заказ</a></div>
                        </div>
                    </div>
                    <div class="profile-history__item">
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Адрес:</div>
                            <div class="profile-history__line-value">Бульвар победы, 41</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Телефон:</div>
                            <div class="profile-history__line-value">920 219 76 72</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Заказ:</div>
                            <div class="profile-history__line-value"> <span>Итальянская, 40 см</span><span>Четыре сыра, 30 см</span><span>Салат, 120 гр</span></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">ВСЕГО:</div>
                            <div class="profile-history__line-value"> <b>585 грн</b></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name"></div>
                            <div class="profile-history__line-value"> <a class="btn profile-history__btn" href="card.html">Повторить заказ</a></div>
                        </div>
                    </div>
                    <div class="profile-history__item">
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Адрес:</div>
                            <div class="profile-history__line-value">Бульвар победы, 41</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Телефон:</div>
                            <div class="profile-history__line-value">920 219 76 72</div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">Заказ:</div>
                            <div class="profile-history__line-value"> <span>Итальянская, 40 см</span><span>Четыре сыра, 30 см</span><span>Салат, 120 гр</span></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name">ВСЕГО:</div>
                            <div class="profile-history__line-value"> <b>585 грн</b></div>
                        </div>
                        <div class="profile-history__line">
                            <div class="profile-history__line-name"></div>
                            <div class="profile-history__line-value"> <a class="btn profile-history__btn" href="card.html">Повторить заказ</a></div>
                        </div>
                    </div>
                </div>
                <div class="profile-history__conrols"><a href="#">Показать ещё</a></div>
            </div>
            <div class="profile__title">Вы можете отредактировать свои персональные данные</div>
            <form class="profile-form" method="post" action="{{ form_action }}">
                <div class="profile-form__content">
                    <div class="profile-form__box">
                        <label class="profile-form__label"><span class="profile-form__box-name">Адрес</span>
                            <input type="text" name="box">
                        </label>
                        <div class="profile-form__add-label"><a href="#">+ Добавить адрес</a></div>
                        <div class="profile-form__drop">
                            <label class="profile-form__label"><span class="profile-form__box-name">Населённый пункт</span>
                                <select name="nas_punkt" class="basket-log__form-value">
                                    <option>Вишневое</option>
                                    <option>Софиевская Борщаговка</option>
                                    <option>Петропавловская Борщаговка</option>
                                    <option>Святопетровское</option>
                                    <option>Киев</option>
                                </select>
                            </label>
                            <label class="profile-form__label"><span class="profile-form__box-name">Улица</span>
                                <input type="text" name="street">
                            </label>
                            <div class="profile-form__drop-box">
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Дом</span>
                                        <input type="text" name="house">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Парадная</span>
                                        <input type="text" name="paradnya">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Этаж</span>
                                        <input type="text" name="floor">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Квартира</span>
                                        <input type="text" name="flat">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Код двери</span>
                                        <input type="text" name="code_door">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label class="profile-form__label"><span class="profile-form__box-name">Телефон</span>
                            <input type="tel" name="tel">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">E-mail</span>
                            <input type="email" name="email">
                        </label>
                    </div>
                    <div class="profile-form__box">
                        <label class="profile-form__label"><span class="profile-form__box-name">Новый пароль</span>
                            <input type="password" name="password">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">Повторите новый пароль</span>
                            <input type="password" name="password">
                        </label>
                    </div>
                </div>
                <div class="profile-form__controls"><input type="submit" class="btn profile-form__btn btn-orange" value="Сохранить"></div>
            </form>
        </div>
    </div>
</section>
<div class="hidden">
    <div class="bonus-popup container" id="bonus-popup">
        <div class="bonus-popup__top">
            <div class="bonus-popup__line">
                <div class="bonus-popup__line-name">Бонусов доступно:</div>
                <div class="bonus-popup__line-value">50,00</div>
            </div>
            <div class="bonus-popup__line">
                <div class="bonus-popup__line-name">Бонусов потрачено:</div>
                <div class="bonus-popup__line-value">310,56</div>
            </div>
            <div class="bonus-popup__line">
                <div class="bonus-popup__line-name">Начислено бонусов:</div>
                <div class="bonus-popup__line-value">25,85</div>
            </div>
            <div class="bonus-popup__line">
                <div class="bonus-popup__line-name">Бонусов потеряно:</div>
                <div class="bonus-popup__line-value">268,25</div>
            </div>
        </div>
        <div class="bonus-popup__table">
            <div class="bonus-popup__table-top">
                <div class="bonus-popup__table-line--wrap">
                    <div class="bonus-popup__table-line">
                        <div class="bonus-popup__table-date" data-info="Дата заказа">Дата заказа</div>
                        <div class="bonus-popup__table-phone" data-info="Телефон">Телефон</div>
                        <div class="bonus-popup__table-summa" data-info="Сумма заказа">Сумма заказа</div>
                        <div class="bonus-popup__table-bonus" data-info="Начислено бонусов">Начислено бонусов</div>
                        <div class="bonus-popup__table-num" data-info="Потрачено из них">Потрачено из них</div>
                        <div class="bonus-popup__table-last" data-info="Дата сгорания бонусов">Дата сгорания бонусов</div>
                    </div>
                </div>
            </div>
            <div class="bonus-popup__table-content">
                <div class="bonus-popup__table-line--wrap">
                    <div class="bonus-popup__table-line">
                        <div class="bonus-popup__table-date" data-info="Дата заказа">16.06.2019</div>
                        <div class="bonus-popup__table-phone" data-info="Телефон">920 219 76 72</div>
                        <div class="bonus-popup__table-summa" data-info="Сумма заказа">586 грн</div>
                        <div class="bonus-popup__table-bonus" data-info="Начислено бонусов">50</div>
                        <div class="bonus-popup__table-num" data-info="Потрачено из них">20</div>
                        <div class="bonus-popup__table-last" data-info="Дата сгорания бонусов">25.10.2018</div>
                    </div>
                </div>
                <div class="bonus-popup__table-line--wrap">
                    <div class="bonus-popup__table-line">
                        <div class="bonus-popup__table-date" data-info="Дата заказа">16.06.2019</div>
                        <div class="bonus-popup__table-phone" data-info="Телефон">920 219 76 72</div>
                        <div class="bonus-popup__table-summa" data-info="Сумма заказа">586 грн</div>
                        <div class="bonus-popup__table-bonus" data-info="Начислено бонусов">50</div>
                        <div class="bonus-popup__table-num" data-info="Потрачено из них">20</div>
                        <div class="bonus-popup__table-last" data-info="Дата сгорания бонусов">25.10.2018</div>
                    </div>
                </div>
                <div class="bonus-popup__table-line--wrap">
                    <div class="bonus-popup__table-line">
                        <div class="bonus-popup__table-date" data-info="Дата заказа">16.06.2019</div>
                        <div class="bonus-popup__table-phone" data-info="Телефон">920 219 76 72</div>
                        <div class="bonus-popup__table-summa" data-info="Сумма заказа">586 грн</div>
                        <div class="bonus-popup__table-bonus" data-info="Начислено бонусов">50</div>
                        <div class="bonus-popup__table-num" data-info="Потрачено из них">20</div>
                        <div class="bonus-popup__table-last" data-info="Дата сгорания бонусов">25.10.2018</div>
                    </div>
                </div>
                <div class="bonus-popup__table-line--wrap">
                    <div class="bonus-popup__table-line">
                        <div class="bonus-popup__table-date" data-info="Дата заказа">16.06.2019</div>
                        <div class="bonus-popup__table-phone" data-info="Телефон">920 219 76 72</div>
                        <div class="bonus-popup__table-summa" data-info="Сумма заказа">586 грн</div>
                        <div class="bonus-popup__table-bonus" data-info="Начислено бонусов">50</div>
                        <div class="bonus-popup__table-num" data-info="Потрачено из них">20</div>
                        <div class="bonus-popup__table-last" data-info="Дата сгорания бонусов">25.10.2018</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}